body {
    color: #fff
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
#question {
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(35, 58, 105);
    font-size: 3rem;
    min-width: 80rem;
    font-size: 40px;
    padding: 10px;
    margin: 10px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}

.hud {
    display: flex;
    justify-content: space-between;    
}

.hud-prefix {
    font-size: 2rem;
    padding: 2rem;
}

#score {
    text-align: left;
    margin-left: 3rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgba(55, 0, 255, 0.244);
    border-radius: 10px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(17, 0, 255);
    width: 0%;
}

@media screen and (max-width: 768px){
    .choice-container {
        min-width: 40rem;
    }
}