body {
    color: white
}

#savedScoresList {
    margin-bottom: 2rem;
    list-style: none;
}

.highScore {
    font-size: 2rem;
    margin-bottom: 0;
}

.user-listing {
    font-size: 2.2rem;
    color: var(--honey-yellow);
}

@media screen and (max-width: 320px) {
    #endScore {
        font-size: 12px;
        text-align: center;
    }
    #savedScores a {
        width: 50%;
        font-size: 15px;
        padding: 20px;
    }
}