body {
    color: white
}
#savedScoresList {
    margin-bottom: 2rem;
    font-size: 30px;
}

.btn {
    width: 20%;
    padding: 10px;
    font-size: 30px;
}

@media screen and (max-width: 320px) {
    #endScore {
        font-size: 12px;
        text-align: center;
    }
    #savedScores a {
        width: 50%;
        font-size: 15px;
        padding: 20px;
    }
    #savedScores {
        padding: 5px;
        margin: 5px;
    }
}