img {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    font-family: sans-serif;
    background-blend-mode: darken;
    background-color: rgb(29, 20, 20);
}

h1 {
    color: white;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: white;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

#nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin: 400px;
}

#nav a:hover{
    border-bottom: 1px solid white;
}

.rap p{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

h3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}

.wiki p {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    width: 80%;
    word-spacing: 5px;
}

.bottom-left {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h6 {
    color: white;
    font-size: 40px;
}

h6 {
    font-size: 5.4rem;
    margin-bottom: 5rem;
}

.container {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    font-size: 70px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(0, 102,255) 100%);
    border-radius: 4px;
}

.btn:hover{
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn {
    background: linear-gradient(90deg, rgb(31, 3, 100)0%, rgb(98, 0, 255) 100%);
}

#homepage-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);
}



.result-form-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

#username {
    width: 100%;
    margin-bottom: 4rem;
    outline: none;
}

#result-text {
    font-size: 2rem;
    text-align: center;
}

#result-message {
    text-align: center;
    width: 150%;
}

#scoreSaveBBtn {
    border: none;
}

#scoreSaveBtn:hover {
    transition: transform 150ms;
    transform: scale(1.03);
}

input {
    margin-bottom: 60rem;
    width: 20rem;
    padding: 1.3rem;
    font-size: 1.3rem;
    border: none;
    box-shadow: 0 0.3rem 1.4rem 0 rgba(249, 249, 249, 0.3);
}

marquee{
    position: relative;
    bottom: 0;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    #nav {
        text-align: center;
    }
    .rap p {
        height: 50%;
        width: 80%;
        text-align: center;
        left: 50%;
        top: 44%;
    }
    h3 {
        font-size: 30px;
        position: absolute;
        left: 50%;
        top: 40%;
        
    }
    .wiki p {
        height: 30%;
        width: 90%;
        height: 40%;
        left: 50%;
        top: 65%;
    }
    marquee{
        margin-top: 100px;
        position: relative;
        bottom: 0;
        left: 0;
    }
    .container {
        font-size: 50px;
    }
}
@media only screen and (max-width: 992px) {
    h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }
    #nav a{
        font-size:20px;
        margin: 5px;
        text-align: center;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
        position: absolute;
        left: 50%;
        top: 35%;
    }
    .rap p {
        font-size: 13px;
        left: 50%;
        top: 41%;
    }
    .wiki p {
        font-size: 13px;
        height: 30%;
        width: 90%;
        height: 40%;
        left: 50%;
        top: 60%;
    }
    marquee{
        font-size: 15px;
    }
}

/*Tablet Resolutions*/
@media screen and (max-width: 768px) {
    h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    #nav a{
        font-size: 20px;
        margin: 5px;
        text-align: center;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 15px;
        position: absolute;
        left: 50%;
        top: 29%;
    }
    .rap p {
        font-size: 13px;
        left: 50%;
        top: 39%;
    }
    .wiki p {
        font-size: 13px;
        height: 30%;
        width: 90%;
        height: 40%;
        left: 50%;
        top: 55%;
    }
    marquee{
        font-size: 15px;
        position: absolute;
    }
}

/*Media queries for mobile phones */
@media screen and (max-width: 450px) {
    h1 {
        text-align: center;
        font-size: 15px;
        margin-bottom: 10px;
    }
    #nav a{
        position: flex;
        font-size: 12px;
        margin-bottom: 5px;
        text-align: center;
    }
    h2 {
        font-size: 11px;
    }
    h3 {
        font-size: 12px;
        position: absolute;
        left: 50%;
        top: 25%;
    }
    .rap p {
        font-size: 10px;
        top: 35%;
    }
    .wiki p {
        font-size: 10px;
        height: 30%;
        width: 90%;
        height: 30%;
        left: 50%;
        top: 43%;
        margin: 5px;
    }
    marquee{
        font-size: 10px;
        left: 0;
        bottom: 0;
        position: absolute;
    }
    .container {
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 100vw;
        height: 100vh;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 20px;
    }
    .container a {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        text-align: center;
        font-size: 12px;
        margin-bottom: 5px;
    }
    #nav a{
        position: flex;
        font-size: 8px;
        margin-bottom: 5px;
        text-align: center;
    }
    h2 {
        font-size: 10px;
    }
    h3 {
        font-size: 10px;
        position: absolute;
        left: 50%;
        top: 25%;
    }
    .rap p {
        font-size: 8px;
        top: 35%;
    }
    .wiki p {
        text-align: left;
        font-size: 8px;
        height: 30%;
        width: 90%;
        left: 50%;
        top: 43%;
        margin: 5px;
    }
    marquee{
        position: absolute;
        font-size: 8px;
        left: 0;
        bottom: 0;
    }
    .container {
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 70vw;
        height: 70vh;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .container a {
        font-size: 20px;
    }
    h6 {
        font-size: 25px;
    }
}