img {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    font-family: sans-serif;
    background-blend-mode: darken;
    background-color: rgb(29, 20, 20);
}

h1 {
    color: white;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: white;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

#nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin: 400px;
}

#nav a:hover{
    border-bottom: 1px solid white;
}

p {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

h3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}

.wiki p {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    width: 80%;
    word-spacing: 5px;
}

.bottom-left {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
}